# Series
- 데이터가 순차적으로 나열된 1차원 배열의 형태

In [1]:
# Dictionary -> Series
dict_data = {'a':1, 'b':2, 'c':3}
dict_data

{'a': 1, 'b': 2, 'c': 3}

In [2]:
import pandas as pd
sr = pd.Series(dict_data)
sr

a    1
b    2
c    3
dtype: int64

In [3]:
# list -> Series
list_data = ['2021-12-31',3.14,'abc',100,True]
list_data

['2021-12-31', 3.14, 'abc', 100, True]

In [5]:
sr = pd.Series(list_data)
sr

0    2021-12-31
1          3.14
2           abc
3           100
4          True
dtype: object

> key 값 대신에 index 값이 들어간다!!

In [7]:
# index와 value를 따로 저장
index = sr.index
print(list(index))

[0, 1, 2, 3, 4]

In [10]:
value = sr.values
print(value)
type(value)

['2021-12-31' 3.14 'abc' 100 True]

numpy.ndarray

In [11]:
# Tuple -> Series
tuple_data = ('유비','2022-12-31','남',False)
tuple_data

('유비', '2022-12-31', '남', False)

In [12]:
sr = pd.Series(tuple_data)
sr

0            유비
1    2022-12-31
2             남
3         False
dtype: object

In [15]:
# index 이름 변경하기
sr = pd.Series(tuple_data, index=['이름','만료일자','성별','생존여부'])
sr

이름              유비
만료일자    2022-12-31
성별               남
생존여부         False
dtype: object

In [17]:
# Series에서 Data 선택하기
print(sr['이름'])
print(sr[0])

유비
유비

In [29]:
# 두 개의 index 선택하기
print(sr[['만료일자', '성별']]); print()
print(sr[0:2]); print()
print(sr[[0,1]])

만료일자    2022-12-31
성별               남
dtype: object

이름              유비
만료일자    2022-12-31
dtype: object

이름              유비
만료일자    2022-12-31
dtype: object

In [30]:
# 범위로 index 선택하기 : Slicing
print(sr[0:4]); print()
print(sr['이름':'성별'])

이름              유비
만료일자    2022-12-31
성별               남
생존여부         False
dtype: object

이름              유비
만료일자    2022-12-31
성별               남
dtype: object

### Series의 연산

In [31]:
student = pd.Series({'국어':100, '영어':80, '수학':90})
student

국어    100
영어     80
수학     90
dtype: int64

In [33]:
# 과목의 점수를 100으로 나누자
student / 100

국어    1.0
영어    0.8
수학    0.9
dtype: float64

In [37]:
student1 = pd.Series({'수학':80, '국어':90, '영어':80})
print(student1)

# 덧셈
addition = student + student1
print(addition)
# 뺄셈
substraction = student - student1
print(substraction)
# 곱셈
multiplication = student * student1
print(multiplication)
# 나눗셈
division = student / student1
print(division)

수학    80
국어    90
영어    80
dtype: int64
국어    190
수학    170
영어    160
dtype: int64
국어    10
수학    10
영어     0
dtype: int64
국어    9000
수학    7200
영어    6400
dtype: int64
국어    1.111111
수학    1.125000
영어    1.000000
dtype: float64

In [39]:
from pyparsing import col

pd.DataFrame([addition, substraction, multiplication, division],index=['덧셈','뺄셈','곱셈','나눗셈'], columns=['국어','수학','영어'])

              국어        수학      영어
덧셈    190.000000   170.000   160.0
뺄셈     10.000000    10.000     0.0
곱셈   9000.000000  7200.000  6400.0
나눗셈     1.111111     1.125     1.0

### Nan값이 있는 연산

In [40]:
import numpy as np

In [41]:
student1 = pd.Series({"국어":np.nan, "영어":80, "수학":90})
student2 = pd.Series({"국어":90, "수학":80})

In [42]:
# 덧셈
addition = student1 + student2
addition

국어      NaN
수학    170.0
영어      NaN
dtype: float64

In [43]:
addition = student1.add(student2)
addition

국어      NaN
수학    170.0
영어      NaN
dtype: float64

In [44]:
# 뺄셈
subtraction = student1 - student2
subtraction

국어     NaN
수학    10.0
영어     NaN
dtype: float64

In [45]:
subtraction = student1.sub(student2)
subtraction

국어     NaN
수학    10.0
영어     NaN
dtype: float64

In [46]:
# 곱셈
multiplication = student1 * student2
multiplication

국어       NaN
수학    7200.0
영어       NaN
dtype: float64

In [47]:
multiplication = student1.mul(student2)
multiplication

국어       NaN
수학    7200.0
영어       NaN
dtype: float64

In [48]:
# 나눗셈
division = student1 / student2
division

국어      NaN
수학    1.125
영어      NaN
dtype: float64

In [49]:
division = student1.div(student2)
division

국어      NaN
수학    1.125
영어      NaN
dtype: float64

In [50]:
# 사칙연산 결과를 데이터프레임으로 만들기
result = pd.DataFrame([addition, subtraction, multiplication, division], index=["덧셈", "뺄셈", "곱셈", "나눗셈"])
result

     국어        수학  영어
덧셈  NaN   170.000 NaN
뺄셈  NaN    10.000 NaN
곱셈  NaN  7200.000 NaN
나눗셈 NaN     1.125 NaN

In [51]:
addition = student1.add(student2, fill_value=0)
subtraction = student1.sub(student2, fill_value=0)
multiplication = student1.mul(student2, fill_value=0)
division = student1.div(student2, fill_value=0)

result = pd.DataFrame([addition, subtraction, multiplication, division], index=["덧셈", "뺄셈", "곱셈", "나눗셈"])
result

       국어        수학    영어
덧셈   90.0   170.000  80.0
뺄셈  -90.0    10.000  80.0
곱셈    0.0  7200.000   0.0
나눗셈   0.0     1.125   inf