In [137]:
import pandas as pd

In [138]:
phone = pd.read_csv('../data/20191226-items.csv')

In [139]:
phone.isna().sum()

asin             0
brand            4
title            0
url              0
image            0
rating           0
reviewUrl        0
totalReviews     0
price            0
originalPrice    0
dtype: int64

In [140]:
phone.brand.unique()

array([nan, 'Motorola', 'Nokia', 'Samsung', 'HUAWEI', 'Sony', 'Apple',
       'Google', 'ASUS', 'OnePlus', 'Xiaomi'], dtype=object)

In [141]:
phone[phone.brand.isna()]

,asin,brand,title,url,image,rating,reviewUrl,totalReviews,price,originalPrice
0,B0000SX2UC,NaN,Dual-Band / Tri-Mode Sprint PCS Phone w/ Voice...,https://www.amazon.com/Dual-Band-Tri-Mode-Acti...,https://m.media-amazon.com/images/I/2143EBQ210...,3.0,https://www.amazon.com/product-reviews/B0000SX2UC,14,0.00,0.0
144,B01EWKHIAI,NaN,Microsoft Lumia 950 32GB Dual Sim NAM RM-1118 ...,https://www.amazon.com/Microsoft-Lumia-RM-1118...,https://m.media-amazon.com/images/I/41y0iPJH27...,3.9,https://www.amazon.com/product-reviews/B01EWKHIAI,67,242.99,0.0
471,B07JHXX5YR,NaN,ROG Phone Gaming Smartphone ZS600KL-S845-8G512...,https://www.amazon.com/ROG-Phone-Gaming-Smartp...,https://m.media-amazon.com/images/I/81qwFH3PTC...,3.9,https://www.amazon.com/product-reviews/B07JHXX5YR,126,549.00,599.0
631,B07T3KMJW8,NaN,Redmi 7A 2+16Gb Black EU,https://www.amazon.com/Redmi-7A-16Gb-Black-EU/...,https://m.media-amazon.com/images/I/51s+1NLTqx...,3.8,https://www.amazon.com/product-reviews/B07T3KMJW8,5,99.99,0.0

In [142]:
# phone[phone.brand.isna()].iloc[1,1] = 'Microsoft'
phone.brand[0] = 'Microsoft'

/var/folders/r9/905wglgd76v1f_n1q9jw68rr0000gn/T/ipykernel_1313/260102531.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  phone.brand[0] = 'Microsoft'

In [143]:
# phone[phone.brand.isna()].iloc[0,1] = 'Nokia'
phone.brand[144] = 'Nokia'

/var/folders/r9/905wglgd76v1f_n1q9jw68rr0000gn/T/ipykernel_1313/737275908.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  phone.brand[144] = 'Nokia'

In [144]:
# phone[phone.brand.isna()].iloc[2,1] = 'ASUS'
phone.brand[471] = 'ASUS'

/var/folders/r9/905wglgd76v1f_n1q9jw68rr0000gn/T/ipykernel_1313/3165579077.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  phone.brand[471] = 'ASUS'

In [145]:
# phone[phone.brand.isna()].iloc[3,1] = 'Xiaomi'
phone.brand[631] = 'Xiaomi'

/var/folders/r9/905wglgd76v1f_n1q9jw68rr0000gn/T/ipykernel_1313/67334769.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  phone.brand[631] = 'Xiaomi'

In [146]:
phone.brand.isna().sum()

0

In [147]:
phone.describe()

           rating  totalReviews       price  originalPrice
count  720.000000    720.000000  720.000000     720.000000
mean     3.713750    105.679167  234.948931      63.690778
std      0.716014    167.601101  200.008441     172.405370
min      1.000000      1.000000    0.000000       0.000000
25%      3.300000      7.000000   97.512500       0.000000
50%      3.800000     32.000000  188.975000       0.000000
75%      4.100000    122.250000  336.725000       0.000000
max      5.000000    983.000000  999.990000     999.990000

In [148]:
phone.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 720 entries, 0 to 719
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   asin           720 non-null    object
 1   brand          720 non-null    object
 2   title          720 non-null    object
 3   url            720 non-null    object
 4   image          720 non-null    object
 5   rating         720 non-null    float64
 6   reviewUrl      720 non-null    object
 7   totalReviews   720 non-null    int64
 8   price          720 non-null    float64
 9   originalPrice  720 non-null    float64
dtypes: float64(3), int64(1), object(6)
memory usage: 56.4+ KB

> amazon 크롤링 가능   
> review가 영어로 되어있고, 이를통해 rnn할 수 있을듯    
> 삼성폰 기준으로 해서 삼성센터들을 지도에 띄우는 것도 가능할듯   
> 한글 감성분석...

In [164]:
museum = pd.read_csv('../data/tripadvisor_museum_world.csv')
museum.head()

,Unnamed: 0,Address,Description,FeatureCount,Fee,Langtitude,Latitude,LengthOfVisit,MuseumName,PhoneNum,Rank,Rating,ReviewCount,TotalThingsToDo
0,0,"555 Pennsylvania Ave NW, Washington DC, DC 200...",Find out for yourself why everyone is calling ...,3,Yes,-77.019235,38.893138,2-3 hours,Newseum,+1 888-639-7386,8,4.5,"6,309",398
1,1,"Great Russell Street, London WC1B 3DG, England","A museum of the world, for the world. Discover...",6,No,-0.126853,51.517981,2-3 hours,British Museum,+44 (0)20 7323 8299,1,4.5,"41,295","1,443"
2,2,"Museumstraat 1, 1071 XX Amsterdam, The Netherl...",The Rijksmuseum is the museum of the Netherlan...,12,Yes,4.885185,52.360007,More than 3 hours,Rijksmuseum,+31 20 674 7000,1,4.5,"25,042",451
3,3,"1000 5th Ave, New York City, NY 10028-0198",At New York City's most visited museum and att...,12,Yes,-73.962928,40.779165,2-3 hours,The Metropolitan Museum of Art,1 212-535-7710,2,5.0,"36,628","1,028"
4,4,"1, Rue de la Legion d'Honneur, 75007 Paris, Fr...","This beautiful museum, once a railroad station...",11,Yes,2.325928,48.860198,More than 3 hours,Musee d'Orsay,+33 1 40 49 48 14,1,4.5,"43,037","1,004"

In [173]:
museum.drop('Unnamed: 0', axis=1, inplace=True)

In [174]:
museum.head()

,Address,Description,FeatureCount,Fee,Langtitude,Latitude,LengthOfVisit,MuseumName,PhoneNum,Rank,Rating,ReviewCount,TotalThingsToDo
0,"555 Pennsylvania Ave NW, Washington DC, DC 200...",Find out for yourself why everyone is calling ...,3,Yes,-77.019235,38.893138,2-3 hours,Newseum,+1 888-639-7386,8,4.5,"6,309",398
1,"Great Russell Street, London WC1B 3DG, England","A museum of the world, for the world. Discover...",6,No,-0.126853,51.517981,2-3 hours,British Museum,+44 (0)20 7323 8299,1,4.5,"41,295","1,443"
2,"Museumstraat 1, 1071 XX Amsterdam, The Netherl...",The Rijksmuseum is the museum of the Netherlan...,12,Yes,4.885185,52.360007,More than 3 hours,Rijksmuseum,+31 20 674 7000,1,4.5,"25,042",451
3,"1000 5th Ave, New York City, NY 10028-0198",At New York City's most visited museum and att...,12,Yes,-73.962928,40.779165,2-3 hours,The Metropolitan Museum of Art,1 212-535-7710,2,5.0,"36,628","1,028"
4,"1, Rue de la Legion d'Honneur, 75007 Paris, Fr...","This beautiful museum, once a railroad station...",11,Yes,2.325928,48.860198,More than 3 hours,Musee d'Orsay,+33 1 40 49 48 14,1,4.5,"43,037","1,004"

In [175]:
museum.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1012 entries, 0 to 1011
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Address          1012 non-null   object
 1   Description      792 non-null    object
 2   FeatureCount     1012 non-null   int64
 3   Fee              294 non-null    object
 4   Langtitude       972 non-null    float64
 5   Latitude         972 non-null    float64
 6   LengthOfVisit    502 non-null    object
 7   MuseumName       1012 non-null   object
 8   PhoneNum         1005 non-null   object
 9   Rank             1012 non-null   int64
 10  Rating           1012 non-null   float64
 11  ReviewCount      1012 non-null   object
 12  TotalThingsToDo  1012 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 102.9+ KB

In [177]:
museum.Rank.value_counts()

1      213
2       97
3       78
5       50
4       45
      ...
143      1
100      1
94       1
54       1
105      1
Name: Rank, Length: 97, dtype: int64