# 랜덤포레스트 ctree를 여러개 묶어서 탄생 
: 앙상블 기법, 기존의 기법을 합쳐서(응용) 만든것

In [154]:
import pandas as pd

In [155]:
# 붓꽃의 데이터 읽어오기
csv = pd.read_csv('../data/iris.csv')

In [156]:
csv.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth         Name
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

In [157]:
# 필요한 열 추출하기
csv_data = csv[['SepalLength', 'SepalWidth','PetalLength','PetalWidth']] # feature
# csv_data = csv.drop('Name', axis=1)
csv_label = csv['Name'] # target

In [158]:
# 학습전용 데이터와 테스트전용 데이터로 나누기
from sklearn.model_selection import train_test_split

train_data, test_data, train_label, test_label = train_test_split(csv_data, csv_label, stratify=csv_label)

In [159]:
train_label.value_counts()

Iris-virginica     38
Iris-setosa        37
Iris-versicolor    37
Name: Name, dtype: int64

In [160]:
len(train_data) == len(train_label)

True

In [161]:
# 학습하기
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier()

In [162]:
clf.fit(train_data, train_label)

RandomForestClassifier()

In [163]:
clf.score(test_data, test_label)

0.9473684210526315

In [164]:
# Confusion Matrix
from sklearn import metrics
cl_report = metrics.classification_report(test_label, clf.predict(test_data))
print(cl_report)

                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00        13
Iris-versicolor       1.00      0.85      0.92        13
 Iris-virginica       0.86      1.00      0.92        12

       accuracy                           0.95        38
      macro avg       0.95      0.95      0.95        38
   weighted avg       0.95      0.95      0.95        38

In [165]:
metrics.confusion_matrix(test_label, clf.predict(test_data))

array([[13,  0,  0],
       [ 0, 11,  2],
       [ 0,  0, 12]])

---
# 독버섯과 관련된 데이터를 사용한 머신러닝

https://archive.ics.uci.edu/ml/machine-learning-databases/mushroom/agaricus-lepiota.data

In [166]:
# 라이브러리 불러오기
import urllib.request as request

# 다운로드 파일이름 정하기
fileName = 'mushroom.csv'

# URL과 저장경로 정하기
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/mushroom/agaricus-lepiota.data'
saveName = '../Data/' + fileName

# 다운로드
request.urlretrieve(url, saveName)
print('OK!')

OK!

In [167]:
mr = pd.read_csv('../data/mushroom.csv', header=None)
mr.head()

  0  1  2  3  4  5  6  7  8  9   ... 13 14 15 16 17 18 19 20 21 22
0  p  x  s  n  t  p  f  c  n  k  ...  s  w  w  p  w  o  p  k  s  u
1  e  x  s  y  t  a  f  c  b  k  ...  s  w  w  p  w  o  p  n  n  g
2  e  b  s  w  t  l  f  c  b  n  ...  s  w  w  p  w  o  p  n  n  m
3  p  x  y  w  t  p  f  c  n  n  ...  s  w  w  p  w  o  p  k  s  u
4  e  x  s  g  f  n  f  w  b  k  ...  s  w  w  p  w  o  e  n  a  g

[5 rows x 23 columns]

In [168]:
mr.columns

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22],
           dtype='int64')

# data 정제하기

In [169]:
# 연습하기
print(ord('x'), chr(120))

120 x

In [170]:
# 데이터 내부의 문자를 숫자로 변환하기
label = []
data = []

for row_index, row in mr.iterrows():
    # print(row_index, row)
    # print(row.loc[1:]) # 0번은 타겟
    label.append(row.loc[0]) # target = label
    row_data = []
    for v in row.loc[1:]:
        row_data.append(ord(v)) # 문자값 숫자값으로 바꾸기
    data.append(row_data)
print(data[0:20])

[[120, 115, 110, 116, 112, 102, 99, 110, 107, 101, 101, 115, 115, 119, 119, 112, 119, 111, 112, 107, 115, 117], [120, 115, 121, 116, 97, 102, 99, 98, 107, 101, 99, 115, 115, 119, 119, 112, 119, 111, 112, 110, 110, 103], [98, 115, 119, 116, 108, 102, 99, 98, 110, 101, 99, 115, 115, 119, 119, 112, 119, 111, 112, 110, 110, 109], [120, 121, 119, 116, 112, 102, 99, 110, 110, 101, 101, 115, 115, 119, 119, 112, 119, 111, 112, 107, 115, 117], [120, 115, 103, 102, 110, 102, 119, 98, 107, 116, 101, 115, 115, 119, 119, 112, 119, 111, 101, 110, 97, 103], [120, 121, 121, 116, 97, 102, 99, 98, 110, 101, 99, 115, 115, 119, 119, 112, 119, 111, 112, 107, 110, 103], [98, 115, 119, 116, 97, 102, 99, 98, 103, 101, 99, 115, 115, 119, 119, 112, 119, 111, 112, 107, 110, 109], [98, 121, 119, 116, 108, 102, 99, 98, 110, 101, 99, 115, 115, 119, 119, 112, 119, 111, 112, 110, 115, 109], [120, 121, 119, 116, 112, 102, 99, 110, 112, 101, 101, 115, 115, 119, 119, 112, 119, 111, 112, 107, 118, 103], [98, 115, 121, 116, 97, 102, 99, 98, 103, 101, 99, 115, 115, 119, 119, 112, 119, 111, 112, 107, 115, 109], [120, 121, 121, 116, 108, 102, 99, 98, 103, 101, 99, 115, 115, 119, 119, 112, 119, 111, 112, 110, 110, 103], [120, 121, 121, 116, 97, 102, 99, 98, 110, 101, 99, 115, 115, 119, 119, 112, 119, 111, 112, 107, 115, 109], [98, 115, 121, 116, 97, 102, 99, 98, 119, 101, 99, 115, 115, 119, 119, 112, 119, 111, 112, 110, 115, 103], [120, 121, 119, 116, 112, 102, 99, 110, 107, 101, 101, 115, 115, 119, 119, 112, 119, 111, 112, 110, 118, 117], [120, 102, 110, 102, 110, 102, 119, 98, 110, 116, 101, 115, 102, 119, 119, 112, 119, 111, 101, 107, 97, 103], [115, 102, 103, 102, 110, 102, 99, 110, 107, 101, 101, 115, 115, 119, 119, 112, 119, 111, 112, 110, 121, 117], [102, 102, 119, 102, 110, 102, 119, 98, 107, 116, 101, 115, 115, 119, 119, 112, 119, 111, 101, 110, 97, 103], [120, 115, 110, 116, 112, 102, 99, 110, 110, 101, 101, 115, 115, 119, 119, 112, 119, 111, 112, 107, 115, 103], [120, 121, 119, 116, 112, 102, 99, 110, 110, 101, 101, 115, 115, 119, 119, 112, 119, 111, 112, 110, 115, 117], [120, 115, 110, 116, 112, 102, 99, 110, 107, 101, 101, 115, 115, 119, 119, 112, 119, 111, 112, 110, 115, 117]]

In [171]:
# label을 DataFrame으로 만들기
labelTemp = pd.DataFrame(label)
labelTemp.head()

   0
0  p
1  e
2  e
3  p
4  e

In [172]:
# data를 dataFrame으로 만들고, Column Name을 겹치지 않게 하기
dataTemp = pd.DataFrame(data)
dataTemp.rename(columns=lambda x: x+1, inplace=True)
dataTemp.head()

,1,2,3,4,5,6,7,8,9,10,...,13,14,15,16,17,18,19,20,21,22
0,120,115,110,116,112,102,99,110,107,101,...,115,119,119,112,119,111,112,107,115,117
1,120,115,121,116,97,102,99,98,107,101,...,115,119,119,112,119,111,112,110,110,103
2,98,115,119,116,108,102,99,98,110,101,...,115,119,119,112,119,111,112,110,110,109
3,120,121,119,116,112,102,99,110,110,101,...,115,119,119,112,119,111,112,107,115,117
4,120,115,103,102,110,102,119,98,107,116,...,115,119,119,112,119,111,101,110,97,103

In [173]:
# 2개의 DataFrame을 합치기
mr2 = pd.concat([labelTemp, dataTemp], axis='columns')
mr2

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,p,120,115,110,116,112,102,99,110,107,...,115,119,119,112,119,111,112,107,115,117
1,e,120,115,121,116,97,102,99,98,107,...,115,119,119,112,119,111,112,110,110,103
2,e,98,115,119,116,108,102,99,98,110,...,115,119,119,112,119,111,112,110,110,109
3,p,120,121,119,116,112,102,99,110,110,...,115,119,119,112,119,111,112,107,115,117
4,e,120,115,103,102,110,102,119,98,107,...,115,119,119,112,119,111,101,110,97,103
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8119,e,107,115,110,102,110,97,99,98,121,...,115,111,111,112,111,111,112,98,99,108
8120,e,120,115,110,102,110,97,99,98,121,...,115,111,111,112,110,111,112,98,118,108
8121,e,102,115,110,102,110,97,99,98,110,...,115,111,111,112,111,111,112,98,99,108
8122,p,107,121,110,102,121,102,99,110,98,...,107,119,119,112,119,111,101,119,118,108
8123,e,120,115,110,102,110,97,99,98,121,...,115,111,111,112,111,111,112,111,99,108

In [174]:
# 필요한 열 추출하기
mr2_data = mr2.drop(0, axis=1)
mr2_label = mr2[0] # target

In [175]:
from sklearn.model_selection import train_test_split

train_input, test_input, train_label, test_label = train_test_split(mr2_data, mr2_label)

In [176]:
len(train_input) == len(train_label)

True

In [177]:
# RandomForest로 정확도 측정해보기
# 학습하기
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier()

In [178]:
clf.fit(train_input, train_label)

RandomForestClassifier()

In [179]:
clf.score(test_input, test_label)

1.0

In [180]:
# Confusion Matrix
from sklearn import metrics
cl_report = metrics.classification_report(test_label, clf.predict(test_input))
print(cl_report)

              precision    recall  f1-score   support

           e       1.00      1.00      1.00      1043
           p       1.00      1.00      1.00       988

    accuracy                           1.00      2031
   macro avg       1.00      1.00      1.00      2031
weighted avg       1.00      1.00      1.00      2031

In [181]:
metrics.confusion_matrix(test_label, clf.predict(test_input))

array([[1043,    0],
       [   0,  988]])

### One Hot Encoding 실시
: 숫자 데이터가 숫자로서 의미가 있으면 상관없지만, 위의 데이터는 분류를 위한 데이터이므로 숫자 크기가 의미 없다.   
: 이 때 사용하는 것이 One Hot Encoding이다.

In [182]:
mr2[1].unique()

array([120,  98, 115, 102, 107,  99])

In [183]:
# 연습하기
pd.get_dummies(data=dataTemp, columns=[1], prefix=str(1)).iloc[:,21:]

      1_98  1_99  1_102  1_107  1_115  1_120
0        0     0      0      0      0      1
1        0     0      0      0      0      1
2        1     0      0      0      0      0
3        0     0      0      0      0      1
4        0     0      0      0      0      1
...    ...   ...    ...    ...    ...    ...
8119     0     0      0      1      0      0
8120     0     0      0      0      0      1
8121     0     0      1      0      0      0
8122     0     0      0      1      0      0
8123     0     0      0      0      0      1

[8124 rows x 6 columns]

In [184]:
pd.get_dummies(data=dataTemp, columns=[2], prefix=str(2)).iloc[:,21:]

      2_102  2_103  2_115  2_121
0         0      0      1      0
1         0      0      1      0
2         0      0      1      0
3         0      0      0      1
4         0      0      1      0
...     ...    ...    ...    ...
8119      0      0      1      0
8120      0      0      1      0
8121      0      0      1      0
8122      0      0      0      1
8123      0      0      1      0

[8124 rows x 4 columns]

In [185]:
labelTemp

      0
0     p
1     e
2     e
3     p
4     e
...  ..
8119  e
8120  e
8121  e
8122  p
8123  e

[8124 rows x 1 columns]

In [187]:
for i in range(1,23):
    dataTemp = pd.get_dummies(data=dataTemp, columns=[i], prefix=str(i))
dataTemp.head()

,1_98,1_99,1_102,1_107,1_115,1_120,2_102,2_103,2_115,2_121,...,21_115,21_118,21_121,22_100,22_103,22_108,22_109,22_112,22_117,22_119
0,0,0,0,0,0,1,0,0,1,0,...,1,0,0,0,0,0,0,0,1,0
1,0,0,0,0,0,1,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
2,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
3,0,0,0,0,0,1,0,0,0,1,...,1,0,0,0,0,0,0,0,1,0
4,0,0,0,0,0,1,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0

---

In [188]:
# RandomForest로 정확도 측정해보기
# 학습하기
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier()

In [191]:
type(dataTemp)

pandas.core.frame.DataFrame

In [198]:
train_input, test_input, train_label, test_label = train_test_split(dataTemp, labelTemp[0])

In [199]:
clf.fit(train_input, train_label)

RandomForestClassifier()

In [200]:
clf.score(test_input, test_label)

1.0

In [206]:
print(metrics.confusion_matrix(test_label, clf.predict(test_input)))

[[1034    0]
 [   0  997]]

In [203]:
print(metrics.classification_report(test_label, clf.predict(test_input)))

              precision    recall  f1-score   support

           e       1.00      1.00      1.00      1034
           p       1.00      1.00      1.00       997

    accuracy                           1.00      2031
   macro avg       1.00      1.00      1.00      2031
weighted avg       1.00      1.00      1.00      2031