In [16]:
var01 = 3
var02 = 4
def calc(var01, var02):
    print('덧셈 : ',var01 + var02)
    print('뺄셈 : ',var01 - var02)
    print('곱셈 : ',var01 * var02)
    print('실수 나눗셈 : ',var01 / var02)
    print('정수 나눗셈 몫 : ',var01 // var02)
    print('정수 나눗셈 나머지 : ',var01 % var02)
    print(var01, '제곱 : ', var01 ** 2)
    print(var02, '제곱 : ', var02 ** 2)

In [17]:
calc(var01, var02)

덧셈 :  7
뺄셈 :  -1
곱셈 :  12
실수 나눗셈 :  0.75
정수 나눗셈 몫 :  0
정수 나눗셈 나머지 :  3
3 제곱 :  9
4 제곱 :  16

In [18]:
print('거듭제곱', pow(var01, 2)) # pow(0) 함수

거듭제곱 9

### 파이썬 모듈을 이용한 수학계산

In [19]:
import math

In [20]:
# 거듭제곱
math.pow(var01, 2)

9.0

In [23]:
# 제곱근
math.sqrt(var01)

1.7320508075688772

In [24]:
# sin 45도
math.sin(45)

0.8509035245341184

In [27]:
# sin45^2 + cos45^2
(math.sin(45) ** 2) + (math.cos(45) ** 2)

1.0

### 난수 발생

In [28]:
# 난수발생 모듈 불러오기
import random

In [36]:
random.randint(1,100)
# 1~100 사이 난수 1개 발생

51

In [39]:
list(range(1,10)) # list로 출력, 1:9

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [40]:
lotto_list = range(1,46)
list(lotto_list)

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45]

In [48]:
random.sample(lotto_list,6)
# 중복되지 않는다.

[26, 29, 36, 2, 28, 12]

In [50]:
# 반올림
print(round(123.45,1)) # 소수점 첫째까지 남겨
print(round(123.456,2)) # 소수점 둘째까지 남겨

123.5
123.46

In [52]:
# 올림
print(math.ceil(1.1))
print(math.ceil(1.9))

2
2

In [53]:
# 내림
print(math.floor(1.1))
print(math.floor(1.9))

1
1

In [54]:
# 메모리에 있는 변수 보기
dir()

['In',
 'Out',
 '_',
 '_20',
 '_21',
 '_23',
 '_24',
 '_25',
 '_26',
 '_27',
 '_29',
 '_30',
 '_31',
 '_32',
 '_33',
 '_34',
 '_35',
 '_36',
 '_37',
 '_38',
 '_39',
 '_40',
 '_41',
 '_42',
 '_43',
 '_44',
 '_45',
 '_46',
 '_47',
 '_48',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '__vsc_ipynb_file__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i43',
 '_i44',
 '_i45',
 '_i46',
 '_i47',
 '_i48',
 '_i49',
 '_i5',
 '_i50',
 '_i51',
 '_i52',
 '_i53',
 '_i54',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'calc',
 'exit',
 'get_ipython',
 'lotto_list',
 'math',
 'os',
 'quit',
 'random',
 'sys',
 'var01',
 'var02']

In [55]:
var01

3

In [56]:
# 메모리에 있는 변수 제거
del var01

In [59]:
# var01

### 관계 연산자

In [60]:
num1 = 100
num2 = 20

In [62]:
print(num1 == num2)
print(num1 != num2)
print(num1 > num2)
print(num1 < num2)
print(num1 <= num2)
print(num1 >= num2)

False
True
True
False
False
True

### 논리 연산자

In [63]:
print((num1 >= 50) & (num2 <= 10))
print((num1 >= 50) | (num2 <= 10))
print((num1 >= 50) and (num2 <= 10))
print((num1 >= 50) or (num2 <= 10))

False
True
False
True

### 부정 연산자

In [65]:
not(num1 >= 50)

False

In [67]:
# OS 명령어 사용(mac이면 터미널)
!ls

01.Preview.ipynb
02.변수와 자료형.ipynb
=

In [70]:
# 문자열
var01 = '"Hello world!"'
print(var01)

"Hello world!"

In [72]:
var01 = """
    Hellow World!
    12345
    대한민국
"""
# 여러줄짜리 한번에 출력
print(var01)

    Hellow World!
    12345
    대한민국

In [73]:
# 쌍따옴표와 홑따옴표
var01 = "My father's wife is my mother."
var02 = 'He says "I love you."'
print(var01)
print(var02)

My father's wife is my mother.
He says "I love you."

In [75]:
# 문자열 연산, 덧셈
var01="Python"
var02="is fun."
print(var01+var02) # 이어서 출력
print(var01,var02) # 띄어서 출력

Pythonis fun.
Python is fun.

In [86]:
# 문자열 연산, 곱셈
print((var01+var02)*3)

Pythonis fun.Pythonis fun.Pythonis fun.

In [79]:
print("=" * 20)
print('Python')
print("="*20)

====================
Python
====================

In [87]:
# 문자열 indexing과 Slicing
str = "abcdefghijklmn"
print(str[0])

a

In [94]:
print(str[0:3])
# 0부터 3개, 0부터 3까지가 아님!
print(str[-1])
# 뒤에서부터 1번째
print(str[5:])
# 5부터 끝까지
print(str[:5])
# 처음부터 5까지
print(str[0]+str[1]+str[2])
print(str[5:-2])

abc
n
fghijklmn
abcde
abc
fghijkl

In [98]:
str = '20221229Snow'
year = str[0:4]
day = str[4:8]
weather = str[-4:]
print(year, day, weather)

2022 1229 Snow

In [121]:
str = "abbde"
(str[:2] + 'c' + str[-2:])

'abcde'

### 문자열 formatting

In [123]:
print("I have %d apples"%2)
print("I have %s apples"%"two")

I have 2 apples
I have two apples

In [128]:
number = 2
fruit = "apples"
print("I have %d apples."%number)
print("I have %d %s."%(number,fruit))

I have 2 apples.
I have 2 apples.

In [132]:
# 문자열 정렬
print("I have 2 %10s."%"apples")
print("I have 2 %-10s."%"apples")

I have 2     apples.
I have 2 apples    .

In [136]:
print("%0.4f"%3.14159) # 소수점 4자리
print("%10.4f"%3.14159) # 앞에 10칸, 소수점 4자리

3.1416
    3.1416

### 문자열 관련 함수

In [139]:
str = "I have a dream."
print(str.count('a')) # 'a' 가 몇개있는가
print(len(str)) # length 함수, 문자열 길이

3
15

In [141]:
print(str.find('e')) # find, 'e'가 몇번째에 있는가, 띄어쓰기도 카운트
print(str.find('x')) # -1 결과값은 일종의 false

5
-1

In [142]:
str[str.find('e')]

'e'

In [143]:
# 문자열 삽입
str = ','
str.join('abcde') # 각 문자사이사이에 str값이 들어감

'a,b,c,d,e'

In [144]:
# 소문자를 대문자로
str='hi'
str.upper()

'HI'

In [145]:
# 대문자를 소문자로
str = 'HI'
str.lower()

'hi'

In [151]:
# 공백지우기
str = '        hi         '
print(str.lstrip())
print(str.rstrip())
print(str.strip())

hi
        hi
hi

In [152]:
# 문자열 바꾸기
str = 'Life is too short to be happy'
str.replace('happy', 'unhappy')

'Life is too short to be unhappy'

In [157]:
# 문자열 나누기
str01 = 'Life is too short to be happy'
str01.split() # 공백을 기준으로 나누기
list01 = str01.split()
type(list01)
list01
len(list01)

7

In [160]:
str02 = 'a:b:c:d'
str02.split(':') # ':' 기준으로 나누기

['a', 'b', 'c', 'd']

### 고급 문자열 Formatting

In [162]:
# 숫자 바로 대입하기
"I have {0} apples.".format(3)

'I have 3 apples.'

In [163]:
"I have {0} apples.".format('three')

'I have three apples.'

In [164]:
number = 10
day = 'three'
"I have {0} apples, I will go abord for {1} days.".format(number, day)
# 0, 1은 인덱스값

'I have 10 apples, I will go abord for three days.'

In [165]:
# 왼쪽 정렬
'{0:<10}'.format("hi")

'hi        '

In [166]:
# 오른쪽 정렬
'{0:>10}'.format("Hi")

'        Hi'

In [167]:
# 가운데 정렬
'{0:^10}'.format("Hi")

'    Hi    '

In [168]:
# 공백 채우기
'{0:=^10}'.format("하이")

'====하이===='

In [169]:
# f문자열 formatting(python 3.6 이상 사용가능)
name='홍길동'
age=30
f'나이 이름은 {name}이고 나이는 {age}세 입니다.'

'나이 이름은 홍길동이고 나이는 30세 입니다.'

In [170]:
f'나는 내년이면 {age+1}살 입니다.'

'나는 내년이면 31살 입니다.'

### 날짜형 변환

In [171]:
# 날짜형 모듈 불러오기
from datetime import datetime, timedelta

In [173]:
time1 = datetime(2022, 12, 25, 21, 0, 0, 0)
print(time1)

2022-12-25 21:00:00

In [175]:
# 날짜 계산하기
time2 = datetime.now()
print(time2)

2022-06-22 16:13:16.146825

In [176]:
print(time1 - time2)

186 days, 4:46:43.853175

In [181]:
# 좀 더 편리하게 출력
print((time1 - time2).days, '일')
print((time1 - time2).seconds, '초')

186 일
17203 초

In [186]:
# 시간으로 확인하기
(time1 - time2).days * 24 + math.floor((time1 - time2).seconds / 60 / 60)

4468

In [189]:
# 특정 날짜로부터 시간 계산
print(time2 + timedelta(days=5)) # 오늘부터 5일 뒤
print(time2 + timedelta(days=-5)) # 오늘부터 5일 전

2022-06-27 16:13:16.146825
2022-06-17 16:13:16.146825